@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@keyframes bgGradient {
  0% {
    transform: translate(100%, -100%);
  }
  50% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

.mainBackground{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  transform: rotate(45deg);
}

#bgLine-1::after {
  animation-delay: 250ms;
}

#bgLine-2::after {
  animation-delay: 500ms;
}

#bgLine-3::after {
  animation-delay: 600ms;
}

#bgLine-4::after {
  animation-delay: 400ms;
}

#bgLine-5::after {
  animation-delay: 350ms;
}

#bgLine-6::after {
  animation-delay: 200ms;
}

#bgLine-7::after {
  animation-delay: 400ms;
}

.bg-line {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  border: 1px transparent white;
  z-index: -101;
}

.bg-line::after {
  content: '';
  background-image: linear-gradient(black, black, black, black, #006aff, black, black, black, black);
  position: absolute;
  height: 100%;
  z-index: -102;
  padding: 3px;
  margin: 5px;
  animation: bgGradient 1s linear infinite;
  transform: translate(200%, 200%);
  animation-delay: 250ms;
  background-size: 200%;
  background-position: 0% 50%;
}


.makeImageCircular {
    border-radius:50%;
  }


.maxWidth200 {
    max-width: 200px;
}

.rainbowBorderAddtl::before, .rainbowBorderAddtl::after {
  border-radius: 1rem;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  z-index: -1;
  padding: 15px;
  animation: 3s spin linear infinite;
}

.insetBlackBorder {
  box-shadow: inset 0px 0px 0px 10px #000000;
}

.rainbowBorderAddtl::before {
  padding: 50px;
  z-index: -1;
  width: 101.5%;
  height: 105%;
  border-radius: 25px;
}
.blurBg {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);
}

.rainbowBorderAddtl::after {
  filter: blur(1.5rem);
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cl-signIn-root {
  background-color: slategray;
}

ul li::before {
    content: '• ';
}

@keyframes rainbowText {
  0% {
    background-color: '#ff4545'
  }
  10% {
    background-color: '#00ff99'
  }
  50% {
   background-color: '#006aff'
  }
  75% {
    background-color: '#ff0095'
  }
  100% {
    background-color: '#ff4545'
  }
}

ul li.noBulletPoint::before {
  content: '​​​​​ ​ ​ ​ ​ ​ ​ ​';
}

